@import 'reset.css';

.bar {
    position: fixed;
    background-color: #282828;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
}

.bar .content {
    vertical-align: middle;
    line-height: 50px;
    color: #FEFEFE;
}

.bar .content a {
    padding-left : 20px;
    float: left;
}

.main {
    margin-top: 100px;
}

a:link { color: #FEFEFE; text-decoration: none;}
a:visited { color: #FEFEFE; text-decoration: none;}
a:hover { color: #FEFEFE; text-decoration: none;}