@font-face {
    font-family: BebasNeue;
    src: url('../font/bebas-neue-v2-latin-regular.woff2');
}

body {
  margin: 0;
  font-family: BebasNeue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
